/code/platformio/managed_components
/sch/v0.02/modular_design_backup
/code/platformio/lib/assets
/code/platformio/lib/ogg_converter
/code/platformio/lib/image_converter/__pycache__
/spec/camera/BF20A6/BF20A6资料.zip
/code/platformio/build
"D:\JohnHu\Github_private\ESP32_S3_WROOM_1\code\platformio\build"
